body {
    background-color: navy;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h2{
    font-style: inherit;
    color: white;
}
h1{
    font-style: inherit;
    color: white;
}
form {
    width: 500px;
    margin: 0 auto 30px; 
    padding: 20px;
    background-color: white; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
input[type="text"] {
    width: calc(100% - 22px); 
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}
input[type="button"] {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}